---
import Layout from '@/layouts/Layout.astro';
import homeImage from '@/assets/images/main.webp'
import Container from '@/components/container.astro'


---

<Layout title="Coffee Hub">
	<div class="flex-1 flex flex-col">
		<section class="w-full">
			<img src={homeImage.src} alt="Main Image" />
		</section>
		<Container>
			<h1 class="font-bold">Home page</h1>
		</Container>
	</div>
</Layout>

