---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/container.astro'

---

<Layout title="Our Menu">
	<Container>
		<h1 class="font-bold">Menu page</h1>
	</Container>
</Layout>
